<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @story.title %> is now finished!</p>
    <p>Check it out on <a href="http://localhost:3001/stories/<%= @story.id %>">GroupStory</a></p>
  </body>
</html>